
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap');


* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #fff;

}

/*     Header     */

header {
    background-color: #fff;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#social {
    display: flex;
    align-items: center;
    justify-content:center;
}

.socialmedia {
    height: 30px;
    margin-left: 10px;
}

.logo {
    width: auto;
    margin: 0 3rem;
}


/*     Login     */
main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;

    background-color: #d9d9d9;
    background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%);
}

#formulario {
    background-color: #f2f2f2;
    padding: 4rem;
}

#formulario form {
    display: flex;
    flex-direction: column;
}

.invisible {
    display: none;
}
  
.error {
   color: red;
   font-size: 16px;
   text-align: center;
}

/*                Footer                */

footer {
    width: 100%;
    text-align: center;
    padding: 0.3rem;

    color: #23307a;
    text-decoration: double;
}