
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap');


* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #fff;
    background-image: url("../assets/fundo.png");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 110%;
}

/*     Header     */

header {
    background-color: #fff;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#social {
    display: flex;
    align-items: center;
    justify-content:center;
}

.socialmedia {
    height: 30px;
    margin-left: 10px;
}

.logo {
    width: auto;
    margin: 0 3rem;
}


/*     Login     */
main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;

    background-image: url("../assets/ilustracoes/loginilu.png");
    background-repeat: no-repeat;
    background-position:left center;
    background-size: 50%;
}


#login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #f1f1f1;
    padding: 3rem 5rem;
    border-radius: 15px;
    margin-left: 450px;
}

#login label {
    color: blue;
}

#login input[type="submit"] {
    background-color: rgb(64, 50, 157);
    border: 0;
    border-radius: 15px;
    padding: 3px;
    width: 100px;
    margin: 0 auto;
    color: #fff;
    font-size: 15px;
    margin-top: 10px;
}

.input {
    background-color: #e4e2e2;
    padding: 3px;
    border: 0;
    border-bottom: 1px solid;
    margin: 10px 0;
    font-size: 12px;
}

#login h1 {
    color: rgb(46, 46, 97);
}

#login form {
    display: flex;
    flex-direction: column;
}

#entrarcom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#social .forms {
    margin-top: 10px;
}

#naotenhoconta {
    text-decoration: none;
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    background-color: #23307a;
    border-radius: 15px;
    color: #fff;
}

/*                Footer                */

footer {
    width: 100%;
    text-align: center;
    padding: 0.3rem;

    color: #23307a;
    text-decoration: double;
}