
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap');


* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #e4e2e2;
    background-image: url("../assets/fundo.png");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 110%;
}

/*     Header     */

header {
    background-color: #fff;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#social {
    display: flex;
    align-items: center;
    justify-content:center;
}

.socialmedia {
    height: 30px;
    margin-left: 10px;
}

.logo {
    width: auto;
    margin: 0 3rem;
}


/*     Home     */

#home {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 50%;
    width: 100%;
}

#titulo {
    z-index: 999;
    margin-right: -100px;
}

#titulo h1 {
    font-size: 3rem;
    text-align: left;
}

#titulo p {
    font-size:1rem;
    font-style: thin;
    margin-bottom: 20px;
}

#titulo a {
    text-decoration: none;
    background-color: blue;
    padding: 1rem;
    border-radius: 15px;

    color: white;
}

#home img{
    margin-right: -50px;
}

/*               APP                    */

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;
}

#main_print {
    width: 70%;
}

#store {
    display: flex;
    align-items: center;
    justify-content: center;
}

#store img{

    width: 22rem;
}

#store a {
    margin: 4rem;
    padding: 0;
}

/*   Apresentação      */
#apresentacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20rem;
}

#apresentacao .logo {
    width: 10rem;
}

#apresentacao .letra {
    width: 8rem;
}

/*                Footer                */

footer {

    text-align: center;
    padding: 0.3rem;

    color: #f1f1f1;
    text-decoration: double;
}